label, button {
  margin-right: 16px;
}

.actions {
  display: flex;
}

.actions-center {
  justify-content: center;
}

.actions-right {
  justify-content: end;
}

.error-message {
  padding-left: 10px;
  color: tomato;
}
